<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
     <form class = "col s12">
        <div class = "row">
          <div class="input-field col s6">
            <%= form.text_field :name, class: 'validate' %>
            <%= get_label_for_product_form(product, :name) %>
          </div>
           
          <div class="input-field col s6">
            <%= form.text_field :price, class: 'validate' %>
            <%= get_label_for_product_form(product, :price) %>
          </div>
        </div>
        
        <div class = "row">
           <div class = "input-field col s12">
              <%= form.text_field :image, class: 'validate' %>
              <%= get_label_for_product_form(product, :image, 'Image URL') %>
           </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <%= form.text_area :description, class: 'materialize-textarea' %>
            <%= get_label_for_product_form(product, :description) %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <select name="product[category_ids][]" multiple>
              <% @categories.each do |category| %>
                <%= get_category_option_for_product_form(product, category) %>
              <% end %>
            </select>
            <label>Categories</label>
          </div>
        </div>
        
        <div class="row">
          <%= form.submit 'SUBMIT', :class => 'btn waves-effect waves-light' %>
        </div>        
     </form>       
  </div>
<% end %>
