<div class="col s12 m4">
  <%= link_to product do %>
    <div class="card hoverable">
      <div class="card-image">
        <img src="<%= product.image %>">
        <span class="card-title"><%= product.name %></span>
        <a href="<%= edit_product_path(product) %>" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
      </div>
      <div class="card-content">
        <p class="truncate"><%= product.description %></p>
        <p><%= product.price %></p>
      </div>
    </div>
  <% end %>
</div>