<h1>Product</h1>
<div class="product row flex">
  <div class="col m6 s12 valign-wrapper">
    <img  src="<%= @product.image %>">
  </div>
  <div class="col m6 s12">
    <p><b>Name: </b><%= @product.name %></p>
    <p><b>Price: </b><%= @product.price %></p>
    <span><b>Categories:</b></span>
    <% @product.categories.each do |category| %>
      <div class="chip"> <%= category.name %> </div>
    <% end %>
    <p><b>Description:</b></p>
    <p><%= @product.description %></p>
  </div>
</div>

<div class="fixed-action-btn">
  <%= link_to edit_product_path(@product), :class => "btn-floating btn-large" do %>
    <i class="large material-icons">mode_edit</i>
  <% end %>
  <ul>
    <li>
      <%= link_to @product, :method => :delete, :class => "btn-floating red" do %>
        <i class="material-icons">clear</i>
      <% end %>
    </li>
  </ul>
</div>

<%= render template: "comments/index" %>


